<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PodFul.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <!--<appSettings>
    <add key="FeedDirectory" value="C:\Projects\PodFul_Test\"/>
    <add key="SettingsPath" value="C:\Projects\PodFul_Test\Settings.xml" />
    <add key="FeedDirectory" value="C:\ProgramData\PodFul\"/>
    <add key="SettingsPath" value="C:\ProgramData\PodFul\PodFul.settings" />
  </appSettings>-->
  <applicationSettings>
    <PodFul.WPF.Properties.Settings>
      <setting name="FeedDirectory" serializeAs="String">
        <value>C:\Projects\PodFul_Test\</value>
      </setting>
      <setting name="SettingsPath" serializeAs="String">
        <value>C:\Projects\PodFul_Test\Settings.xml</value>
      </setting>
    </PodFul.WPF.Properties.Settings>
  </applicationSettings>
</configuration>
