<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <add key="FeedDirectory" value="C:\Projects\PodFul_Test\"/>
    <add key="SettingsPath" value="C:\Projects\PodFul_Test\Settings.xml" />
    <!--<add key="FeedDirectory" value="C:\ProgramData\PodFul\"/>
    <add key="SettingsPath" value="C:\ProgramData\PodFul\PodFul.settings" />-->
  </appSettings>
</configuration>
